.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header h1 {
  margin: 0;
  padding: 3rem 2rem;
  font-size: 2rem;
}

.container {
  padding: 0 5rem;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 1600px;
}

.searchContainer {
  padding-bottom: 2.5rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 1.5rem; 
}

.searchContainer input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #b7c1ac;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.25;
}

.searchContainer input:focus {
  border: 1px solid #90c695;
  outline: none;
}

.btn {
  padding: 0.5rem 2rem;
  border-radius: 5px;
  border: 1px solid #eaf2d7;
  background-color: #eaf2d7;
  font-size: 1rem;
  line-height: 1.25;
}
.btn:hover {
  cursor: pointer;
  border: 1px solid #b7c1ac;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .header h1 {
    padding: 2rem 1rem;
    font-size: 1.5rem;
  }
  
  .container {
    padding: 0 1rem;
  }

  .searchContainer {
    padding-bottom: 2rem;
  }
}
