.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: block;
  overflow: scroll;

  -webkit-animation-name: modalOpen;
	   -moz-animation-name: modalOpen;
	     -o-animation-name: modalOpen;
          animation-name: modalOpen;

    -webkit-animation-duration: 0.3s;
    -moz-animation-duration: 0.3s;
      -o-animation-duration: 0.3s;
        animation-duration: 0.3s;
}

.modal .modalDialog {
  min-width: 18.75rem;
  background-color: #fff;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  margin-top: 15vh;

  -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
     -o-transform: translateX(-50%);
      transform: translateX(-50%);

  border-radius: 5px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2),
  0 3px 1px -2px rgba(0, 0, 0, 0.12),
  0 2px 2px 0 rgba(0, 0, 0, 0.14)
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 1.125rem 0.25rem 1.5rem;
  border-bottom: 1px solid #eee;
}
.header p {
  font-size: 1rem;
  line-height: 1.5;
}

.crossBtn {
  padding: 0.667rem;
  border-radius: 50%;
  background: #f0f0f0;
  font-size: 10px;
  line-height: 1.2;
  align-items: center;
  cursor: pointer;
}

@keyframes modalOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .modal .modalDialog {
    min-width: 100%;
    bottom: 0;
    border-radius: 0;
    box-shadow: none;
  }
}

